.homebtn{
    box-shadow: -1px -1px 95px -16px rgba(8,255,235,0.75);
      -webkit-box-shadow: -1px -1px 95px -16px rgba(8,255,235,0.75);
      -moz-box-shadow: -1px -1px 95px -16px rgba(8,255,235,0.75);
}
